extends ../layouts/common
block content
    .row(style="background-color: #f7f8fd; border-radius: 6px;")
        .view-book.d-flex
            img.m-4(src=book.image, style="width: 400px; height: 500px; object-fit: cover")
            .m-4(style="position: relative")
                h4=book.name
                p=book.description
                .d-flex.align-items-center.justify-content-center(style="background-color: #fff; border-radius: 6px; height: 60px")
                    span.m-4.text-danger(style="font-size: 20px")=book.price_new
                    span.m-4(style="color: #999; font-size: 20px; text-decoration: line-through !important")=book.price_old
                .view-book-cart
                    a.btn.btn-primary.mr-3(href="") Thêm vào giỏ hàng
                    img.btn.btn-light(src="/images/shopping-cart.svg", style="width: 48px; height: 38px; border: 1px solid rgba(0, 0, 0, 0.2);")