extends ./layouts/common
block navbar_home
    nav.navbar.navbar-expand-lg.navbar-transparent.justify-content-between
        a.navbar-brand(href='/') 
            span(style="color: #fb5533") Book
            span.text-light House
        .navbar-nav(style="text-transform: uppercase")
            a.nav-item.nav-link.text-light.mr-5(href='/') Home 
            a.nav-item.nav-link.text-light.mr-5(href='/books') Books
            a.nav-item.nav-link.text-light.mr-5(href='/authors') Authors
            a.nav-item.nav-link.text-light.mr-5(href='/') Contact
        if user 
            .user.d-flex.align-items-center
                p.m-0.mr-3.text-light= user.name
                img(src=user.avatar, style="width: 35px; height: 35px; border-radius: 50%; object-fit: cover")
                .user-menu
                    if user.role
                        a.text-dark(href="/books/create") 
                            i.fas.fa-plus.mr-3
                            span Create Book
                        a.text-dark(href="/authors/create") 
                            i.fas.fa-plus.mr-3
                            span Create Author
                        hr
                        a.text-dark(href="/shop/stored/books") 
                            i.fas.fa-list.mr-3
                            span My Books
                        a.text-dark(href="/shop/stored/users") 
                            i.fas.fa-users.mr-3
                            span My Users
                        a.text-dark(href="/shop/stored/authors") 
                            i.fas.fa-users.mr-3
                            span Authors
                        hr
                        a.text-dark(href="") 
                            i.fas.fa-cog.mr-3
                            span Settings
                        a.text-dark(href="/auth/logout") 
                            i.fas.fa-sign-out-alt.mr-3
                            span Log Out
                    else
                        a.text-dark(href="") 
                            i.fas.fa-cog.mr-3
                            span Settings
                        a.text-dark(href="/auth/logout") 
                            i.fas.fa-sign-out-alt.mr-3
                            span Log Out
        else
            .navbar-nav
                a.nav-item.nav-link.text-light(href='/auth/signin') Sign in
                a.nav-item.nav-link.text-light(href='/users/signup') Sign up
block index
    header.main-heading.d-flex.align-items-center
        .container
            .main-heading-text.text-light(style="font-size: 60px")
                .main-heading-text--1 A better away to discover books!
                .main-heading-text--2 We help you find books you'll love.
            a.mt-4.btn.btn-outline-light.main-heading-btn(href="/books", style="width: 160px; border-radius: 25px; font-size: 20px") Read More   
    .container-fluid(style="background-color: #fff7f4; padding: 6rem 0")
        .row  
            .col-lg-6.d-flex.justify-content-center
                img(src="images/book-top/anh-chinh-la-thanh-xuan-cua-em.jpg", style="width: 360px; height: 460px; object-fit: cover")
            .col-lg-6
                .body-page-item
                    h6 Anh chinh la
                    h1 THANN XUAN cua em
                    .mt-4.mb-5
                        p.m-0 During that good time, you know why it is called youthful? 
                        p.m-0 Because then, you appeared in my life.
                    .body-page-item--production.mt-4.mb-2.d-flex
                        .body-page-item--production__text
                            span Author
                            p Ha Vu
                        .body-page-item--production__text
                            span Type
                            p Love
                        .body-page-item--production__text
                            span Layout
                            p Printed & PDF
                    .body-page-item--rating.d-flex
                        .star.mr-3.d-flex.align-items-center
                            i.fas.fa-star.mr-1
                            i.fas.fa-star.mr-1
                            i.fas.fa-star.mr-1
                            i.fas.fa-star.mr-1
                            i.fas.fa-star.mr-1
                        span 4.1/6900 Reviews
                    .body-page-item--price.d-flex.align-items-center.mt-5
                        span.mr-4 $4.78 
                        label.switch.m-0
                            input(type="checkbox")
                            span.slider.round
    .container-fluid.p-0
        .row
            .col-lg-6.d-flex(style="margin: 6rem 0")
                .col-lg-6.d-flex.justify-content-center
                    img(src="images/book-top/tra-hoa-nu.jpg", style="width: 240px; height: 280px; object-fit: cover")
                .col-lg-6
                    .body-page-item
                        h3 Tra Hoa Nu
                        .body-page-item--production.mt-4.d-flex
                            .body-page-item--production__text.d-flex
                                span.mr-1 By
                                p Alexandre Dumas con
                        .body-page-item--price.d-flex.align-items-center.mt-2
                            span.mr-3.price-new $3.75
                            span.mr-4.price-old $4.90
                        label.switch.mt-4
                            input(type="checkbox")
                            span.slider.round
            .col-lg-6.d-flex(style="background-color: #fff7f4; padding: 6rem 0")      
                .col-lg-6.d-flex.justify-content-center
                    img(src="images/book-top/hen-em-noi-cafe-cupcake.jpg", style="width: 240px; height: 280px; object-fit: cover")
                .col-lg-6
                        .body-page-item
                            h3 Hen em noi cafe cupcake
                            .body-page-item--production.mt-4.d-flex
                                .body-page-item--production__text.d-flex
                                    span.mr-1 By
                                    p Jenny Colgan
                            .body-page-item--price.d-flex.align-items-center.mt-2
                                span.mr-3.price-new $3.90
                                span.mr-4.price-old $4.75
                            label.switch.mt-4
                                input(type="checkbox")
                                span.slider.round
    .container-fluid(style="background-color: #f1fdfb")
        .container.d-flex.justify-content-between.align-items-center(style="padding: 6rem 0 4rem 0")      
            h2(style="font-weight: 600; color: #444") Top selling book
            a(href="/books")
                spand.d-flex.align-items-center(style="font-weight: 600; color: #35a290") View all
                    i.fas.fa-chevron-circle-right.ml-2(style="font-size: 20px; color: #35a290")
        .container(style="padding: 0 0 6rem 0") 
            .row
                each book in books
                    .col-lg-3.p-0.mb-5
                        .cart
                            a(href="/books/" + book.slug)
                                img(src=book.image, style="width: 240px; height: 280px; object-fit: cover")
                                h5.mt-4(style="color: #518279; font-weight: 600; padding-right: 43px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis")=book.name
                            .body-page-item--production__text.d-flex.m-0
                                span.mr-1 By
                                p=book.author
                            .body-page-item--price.d-flex.align-items-center.mt-2
                                span.mr-3.price-new(style="color: #35a290")=book.price_new
                                span.mr-4.price-old=book.price_old
    .container-fluid
        .container.d-flex.justify-content-between.align-items-center(style="padding: 6rem 0 4rem 0")      
            h2(style="font-weight: 600; color: #444") Top Authors
            a(href="/authors")
                spand.d-flex.align-items-center(style="font-weight: 600; color: #fb5533") View all
                    i.fas.fa-chevron-circle-right.ml-2(style="font-size: 20px; color: #fb5533")
        .container.d-flex.text-center.justify-content-center(style="padding: 0 0 8rem 0") 
            each author in authors
                .mr-4.ml-4
                    a.author-link.text-dark(href="/authors/" + author.slug)
                        img(src=author.image, style="width: 140px; height: 140px; border-radius: 50%; object-fit: cover")
                        span.d-block.mt-4(style="font-weight: 600")=author.name
    