extends ./layouts/common
block navbar_home
    nav.navbar.navbar-expand-lg.navbar-transparent.justify-content-between
        .navbar-nav
            a.nav-item.nav-link.text-light(href='/') Home 
            a#books.nav-item.nav-link.text-light(href='/books') Books
            a.nav-item.nav-link.text-light(href='/') Contact
        a.navbar-brand(href='/') 
            span(style="color: #fb5533") Book
            span.text-light House
        .navbar-nav.d-flex
            a.nav-item.nav-link.text-light(href='/') Search
            a.nav-item.nav-link.text-light(href='/auth/login') Sign in
            a.nav-item.nav-link.text-light(href='/users/signup') Sign up
block index
    header.main-heading.d-flex.align-items-center
        .container
            .main-heading-text.text-light(style="font-size: 60px")
                .main-heading-text--1 A better away to discover books!
                .main-heading-text--2 We help you find books you'll love.
            a.mt-4.btn.btn-outline-light.main-heading-btn(href="/books", style="width: 150px; border-radius: 25px; font-size: 20px") Read More   
    .container-fluid(style="background-color: #fff7f4; padding: 6rem 0")
        .row  
            .col-lg-6.d-flex.justify-content-center
                img(src="images/design.jpg", style="width: 320px;")
            .col-lg-6
                .body-page-item
                    h6 the business of
                    h1 Design
                    .body-page-item--production.mt-4.mb-2.d-flex
                        .body-page-item--production__text
                            span Author
                            p Keith Granet
                        .body-page-item--production__text
                            span Type
                            p Design thinking
                        .body-page-item--production__text
                            span Layout
                            p Printed & PDF
                    .body-page-item--rating.d-flex
                        .star.mr-3
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        span 4.1/6900 Reviews
                    .body-page-item--price.d-flex.align-items-center.mt-5
                        span.mr-4 $32.78 
                        label.switch.m-0
                            input(type="checkbox")
                            span.slider.round
    .container-fluid.p-0
        .row
            .col-lg-6.d-flex(style="margin: 6rem 0")
                .col-lg-6.d-flex.justify-content-center
                    img(src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTKSFlnF2yPOf-UW0CtYGERvFAcrPrzcRAq6HNE4XLQ6oO3lzm5", style="width: 200px; height: 250px")
                .col-lg-6
                    .body-page-item
                        h3 Don't Make Me Think
                        .body-page-item--production.mt-4.d-flex
                            .body-page-item--production__text.d-flex
                                span.mr-1 By
                                p Steve Krug
                        .body-page-item--price.d-flex.align-items-center.mt-2
                            span.mr-3.price-new $32.75
                            span.mr-4.price-old $37.90
                        label.switch.mt-4
                            input(type="checkbox")
                            span.slider.round
            .col-lg-6.d-flex(style="background-color: #fff7f4; padding: 6rem 0")      
                .col-lg-6.d-flex.justify-content-center
                    img(src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTyMqoVtJqtYD3VsCdioGsBLNBm9fbHyXBqHnaT6rpI-MnaqaFb", style="width: 200px; height: 250px")
                .col-lg-6
                        .body-page-item
                            h3 The joy of UX
                            .body-page-item--production.mt-4.d-flex
                                .body-page-item--production__text.d-flex
                                    span.mr-1 By
                                    p David Platt
                            .body-page-item--price.d-flex.align-items-center.mt-2
                                span.mr-3.price-new $29.75
                                span.mr-4.price-old $32.90
                            label.switch.mt-4
                                input(type="checkbox")
                                span.slider.round
    .container-fluid(style="background-color: #f1fdfb")
        .container.d-flex.justify-content-between.align-items-center(style="padding: 6rem 0 4rem 0")      
            h2(style="font-weight: 600; color: #444") Top selling book
            a(href="#")
                spand.d-flex.align-items-center(style="font-weight: 600; color: #35a290") View all
                    i.fas.fa-chevron-circle-right.ml-2(style="font-size: 20px; color: #35a290")
        .container(style="padding: 0 0 6rem 0") 
            .row
                each book in books
                    .col-lg-3.p-0
                        a(href="/books/" + book.slug)
                            img(src=book.image, style="width: 200px; height: 250px; object-fit: cover")
                            h5.mt-4(style="color: #518279; font-weight: 600")=book.name
                        .body-page-item--production__text.d-flex
                            span.mr-1 By
                            p=book.author
                        .body-page-item--price.d-flex.align-items-center.mt-2
                            span.mr-3.price-new(style="color: #35a290")=book.price_new
                            span.mr-4.price-old=book.price_old
    .container-fluid
        .container.d-flex.justify-content-between.align-items-center(style="padding: 6rem 0")      
            h2(style="font-weight: 600; color: #444") Top Authors
            a(href="#")
                spand.d-flex.align-items-center(style="font-weight: 600; color: #fb5533") View all
                    i.fas.fa-chevron-circle-right.ml-2(style="font-size: 20px; color: #fb5533")