extends ../layouts/common
block content
    .signup
        form.sign-up-form.text-center(action="/users/signup", method="POST", enctype="multipart/form-data", style='width: 500px')
            h2.title.mb-4 Sign up     
            if errors   
                each error in errors
                    p.text-danger= error
            .input-field
                i.fas.fa-user
                input(type='text', placeholder='Name', name="name", value=values ? values.name : '', required)               
            .input-field
                i.fas.fa-envelope
                input(type='email', placeholder='Email', name="email", value=values ? values.email : '', required)                    
            .input-field
                i.fas.fa-lock
                input(type='password', placeholder='Password', name="password", value=values ? values.password : '', required)
            .form-group
                label.d-flex(for="avatar") Please provide your avatar:
                input#avatar.form-control-file(type='file', name='avatar', value=values ? values.avatar : '', required)
            
            button.btn-sign-up(type='submit') Sign up           
            p.social-text Or Sign up with social platforms
            .social-media.justify-content-center
                a.social-icon(href='#')
                    i.fab.fa-facebook-f
                a.social-icon(href='#')
                    i.fab.fa-twitter
                a.social-icon(href='#')
                    i.fab.fa-google
                a.social-icon(href='#')
                    i.fab.fa-linkedin-in
        .panel.right-panel.text-center
            .content
                h3 You have an account?
                p If reading book is your hobby, please log in to view and buy them.
                a(href="/auth/signin").btn.mb-5 Sign in
            img(src='/images/undraw_press_play_bx2d.svg', alt='')
